.loginPage{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.loginFormBox{
    height: 100% ;
    padding: 20px;
   
}

.loginForm{
    background-color: darkseagreen;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    padding: 10px;
    justify-content: center;
    gap: 20px;
    align-items: center;
    
}